{validate_app_modules, false}.
{sub_dirs,["deps","apps"]}.
{lib_dirs,["apps"]}.
{deps_dir,["deps"]}.
{deps, [
    {n2o,           ".*", {git, "git://github.com/5HT/n2o.git",                 "master"}},
    {n2o_bootstrap, ".*", {git, "git://github.com/synrc/n2o_bootstrap",         "HEAD"}},
    {n2o_scripts,   ".*", {git, "git://github.com/synrc/n2o_scripts",           "HEAD"}},
    {feeds,         ".*", {git, "git://github.com/synrc/feeds.git",             "master"}},
    {sync,          ".*", {git, "git://github.com/doxtop/sync",                 "HEAD"}},
    {oauth,         ".*", {git, "git://github.com/doxtop/erlang-oauth.git",     "master"}},
    {avz,           ".*", {git, "git://github.com/synrc/avz.git",               "HEAD"}}
]}.
