{validate_app_modules, false}.
{sub_dirs,["deps","apps"]}.
{lib_dirs,["apps"]}.
{deps_dir,["deps"]}.
{deps, [
    {n2o_bootstrap, ".*", {git, "git://github.com/synrc/n2o_bootstrap",         "HEAD"}},
    {n2o_scripts,   ".*", {git, "git://github.com/synrc/n2o_scripts",           "HEAD"}},
    {feed_server,   ".*", {git, "git://github.com/synrc/feeds.git",             "master"}},
    {oauth,         ".*", {git, "git://github.com/doxtop/erlang-oauth.git",     "master"}},
    {active,        ".*", {git, "git://github.com/proger/active",               "HEAD"}},
    {lager,         ".*", {git, "git://github.com/basho/lager.git",             {tag,"1.2.2"}}},
    {eper,          ".*", {git, "git://github.com/massemanet/eper.git",         "HEAD"}},
    {avz,           ".*", {git, "git://github.com/synrc/avz.git",               "HEAD"}}
]}.
