
.gradientBar(@primaryColor, @secondaryColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  color: @textColor;
  text-shadow: @textShadow;
  #gradient > .vertical(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

.btn {
  & .fa-google-plus,
    .fa-facebook,
    .fa-twitter{margin-right:12px;}
  border-radius: 0px;
  .gradientBar(@btn-default-bg, @btn-info-bg, @gray, 0 1px 1px rgba(255,255,255,.75));

}
.btn-google-plus {
    .button-variant(@btn-danger-color; @btn-gplus-bg; @btn-danger-border);
}
