@media (max-width: @screen-sm-min) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right .sidebar-offcanvas {right: -50%; /* 6 columns */}
  .row-offcanvas-left .sidebar-offcanvas {left: -50%; /* 6 columns */ & .affix {position:relative;}}
  .row-offcanvas-right.active {right: 50%; /* 6 columns */}
  .row-offcanvas-left.active {left: 50%; /* 6 columns */}

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
.navbar-toggle-left {
    .navbar-toggle();
    float:left;
    margin-right:0;
    margin-left:15px;
}

.sidebar-offcanvas{
    margin-top:20px;
    font-size: 24px;
    list-style-type: none;
    padding: 0;
    padding-right:20px;

    @media (min-width: @screen-lg-min) {width: 250px;}

    & .list-group-item {
        border: none;
        border-right: 3px solid #555555;
        border-radius: 0;
        padding: 0;
        text-align: right;
        margin-bottom: 10px;

        & a {
            color:#555555;
            text-transform: uppercase;
            padding-right:20px;
        }
        &.active, &:hover{
            border-right: 3px solid #41b7d8;
            & a{color: #41b7d8;}
        }
    }
}
